$text-primary: #fff;
$layout-bg: #170f23;
$layout-header-bg: hsla(0, 0%, 100%, 0.8);
$sticky-header-box-shadow: rgba(0, 0, 0, 0.08);
$purple-primary: #9b4de0;
$link-text-hover: #c273ed;
$alpha-bg: hsla(0, 0%, 100%, 0.1);
$primary-bg: #34224f;
$search-text: #eee;
$text-secondary: hsla(0, 0%, 100%, 0.5);
$border-primary: hsla(0, 0%, 100%, 0.1);
$progressbar-active-bg: #fff;
$progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
$color-hover-item: #ffffff1a;

$padding-section: 59px;

$img-logo-mp3: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
