.wrapper {
    width: 240px;
    background-color: hsla(0, 0%, 100%, 0.05);
}

.logo {
    width: 240px;
    height: 70px;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
}
.votri {
    height: 45.8px;
    word-break: break-word;
}
.btn-logo {
    display: inline-block;
    line-height: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
}
.zmp3-logo {
    width: 120px;
    height: 40px;
    display: inline-block;
    background: var(--img-logo-mp3) 50% / contain no-repeat;
}
