@import '../../components/GlobalStyles/mixins.scss';
@import '../../components/GlobalStyles/valiables.scss';

.wrapper {
  width: calc(100vw - 240px);
  height: calc(100vh - 160px);
  overflow: auto;
  padding: 0 59px 60px;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: $scroll-thumb-bg;
  }
}

.gallery {
  width: 100%;
  height: 241.66px;
  padding-top: 32px;
  margin-bottom: 48px;

  .gallery_img {
    width: 372.75px;
    height: 209.66px;
    padding: 0 15px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
