@import '../../../../../GlobalStyles/valiables.scss';
@import '../../../../../GlobalStyles/mixins.scss';

.menu-list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  @include flex($direction: column, $jutify: flex-start);

  & li {
    list-style-type: none;
  }
}

.user-setting-account {
  width: 338px;
  height: 132px;
  padding: 10px;
  // margin-bottom: 10px;

  & .info {
    height: 64px;
    margin-bottom: 16px;
    @include flex($jutify: flex-start, $gap: 12px);
  }

  & a {
    display: block;
    background: $alpha-bg;
    width: 100%;
    height: 32px;
    text-align: center;
    padding: 6px 0;
    line-height: 20px;
    letter-spacing: 0.015em;
    border-radius: 22px;
    @include text-style($size: 1.3rem, $color: $text-primary, $weight: 500);
    text-decoration: none;
  }
}

.avt-frame {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;

  & img {
    width: 120%;
    height: auto;
  }
}

.name {
  height: 42.2px;
  & p {
    margin: 0 0 4px 0;
    @include text-style($weight: 700, $color: $text-primary);
    line-height: 19px;
  }
}

.line-separator {
  height: 1px;
  background-color: $border-primary;
  width: calc(100% - 24px);
  margin: 10px auto;
}

.user-setting-individual {
  width: 100%;
  height: 115px;
  display: block;
  user-select: none;

  & h3 {
    height: 19px;
    margin: 0;
    margin-bottom: 8px;
    color: $text-primary;
    padding: 0 12px;
  }

  & li {
    height: 44px;
    @include flex($jutify: flex-start, $gap: 12px);
    @include text-style($color: #dadada);
    padding: 0 12px;

    &:hover {
      background-color: $color-hover-item;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}

.logout {
  width: 100%;
  height: 44px;
  margin: 0;
  padding: 12px;
  @include flex($jutify: flex-start, $gap: 12px);
  @include text-style($color: #dadada);
  user-select: none;

  &:hover {
    background-color: $color-hover-item;
    cursor: pointer;
    border-radius: 5px;
  }
}
